################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainProject/Content/bin/DesktopGL/Textures
bin/
obj/